.container {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.big {
    max-width: 100%;
    min-height: 500px;
}

.row {
    width: 100%;
    display: flex;
}

img {
    max-width: 100%;
}